# IDE files
/.idea/
/cmake-build-*/
build/
/BDCI19

# Text data files
/data/customer.*
/data/orders.*
/data/lineitem.*

# Built index
index/

# Test output
/test/*.stdout

# Some files in /data
/workspace
/customer.txt
/orders.txt
/lineitem.txt
/lost+found/

