# Ignore Visual Studio files
bin/
obj/
/.vs/
*.user

# Compile resutls
*.o
*.out
/BDCI19

# Intel C/C++ compiler PGO files
*.dyn
*.dpi
*.dpi.lock

# Data files
/data/*.txt

# Submit files
/submit/
/submit.zip
/submit.tar.gz

# CMake/CLion files
/.idea/
/build/
/cmake-build-*/

